<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-js-training-day1</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/style.css">
</head>
<body id="app">
    <div>
        <img v-bind:src="image">
    </div>    
    <div>
        <p>
            <span>{{firstName}} <strong>{{name}}</strong></span><br>
            <span v-if="exist" v-show="show">
                <span>{{job}}</span><br>
                <span>{{mail}}</span><br>
                <table v-if="showList === 'Tableau'">
                    <tbody>
                        <tr v-for="(skill, index) in skills" :key="index">
                            <td><img :style="{width: skill.width, font: skill.color}" v-bind:src="skill.img"></td>
                            <td :style="{color: skill.color}" >{{skill.label}}</td>
                            <td>{{skill.rating}}/10</td>
                        </tr>
                    </tbody>
                </table>
                <span v-if="showList === 'Liste'" v-for="(skill, index) in skills" :key="index"><img style="width: 20px;" v-bind:src="skill.img">{{skill.label}},</span>
            </span>
            <br>
            <button @click="exist = !exist">{{ !exist ? 'J\'existe' : 'Je n\'existe pas' }}</button>
            <button @click="show = !show">{{ !show ? 'J\'affiche' : 'Je n\'affiche pas'}}</button>
        </p>
        <input v-on:click="showList = checked ? 'Tableau' : 'Liste'" type="checkbox" id="checkbox" v-model="checked">
        <label>Liste</label>
        
    </div>
    <!-- JS -->
    <script src="https://unpkg.com/vue@next"></script> 
    <script src="main.js"></script>
    <script>
        const mountApp = app.mount("#app");
    </script>
</body>
</html>